---
import type { Media } from '@repo/cms'

export interface Props {
  title?: string
  description?: string
  image?: Media
}

const { title, description, image } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={image.url} />}
{image && <meta property="og:image:alt" content={image.alt} />}
