---
import type { Post } from '@repo/cms'
import { Image } from 'astro:assets'
import { resolveImage } from '@/helpers/resolveImage'

import { getPostCollection } from '@/api'
import Layout from '@/layouts/Layout.astro'

interface Props {
  post: Post
}

export async function getStaticPaths() {
  const posts = await getPostCollection()

  return posts.docs.map((post: Post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    }
  })
}

const { post } = Astro.props
const { title, content_html, image, meta } = post
const resolvedImage = image && resolveImage(image)
---

<Layout title={meta?.title || title} description={meta?.description}>
  <h1>{title}</h1>
  <figure>
    {
      resolvedImage && (
        <Image
          src={resolvedImage.url}
          alt={resolvedImage.alt}
          widths={[600, 800, 1000]}
          sizes="(max-width: 600px) 100vw, 600px"
          inferSize={true}
          loading="eager"
        />
      )
    }
  </figure>
  <Fragment set:html={content_html} />
</Layout>
